spring:
  profiles:
    active: local
  application:
    name: erm

---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.flywaydb: DEBUG
    org.hibernate: INFO
    com.sky.erm: DEBUG

server:
  port: 8090

---
spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:h2:mem:ermDb;DB_CLOSE_ON_EXIT=FALSE;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        globally_quoted_identifiers: true
        hbm2ddl:
          auto: create-drop

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: false
  flyway:
    enabled: false

logging:
  level:
    org.hibernate: INFO
    com.sky.erm: DEBUG

server:
  port: 8090